.corpoRodies {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  text-transform: capitalize;
  padding: 15px;
  text-align: center;
  margin-bottom: 15px;
  background-color: whitesmoke;
}.corpoRodies h1 {
  margin: 1em 0 0.5em 0;
  color: #343434;
  font-weight: normal;
  font-family: "Ultra", sans-serif;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  text-shadow: 0 2px white, 0 3px #777;
  font-weight: bold;
}

.team{
  display: flex;
  column-gap: 50px;
  justify-content: center;
  margin-bottom: 30px;
}
.about{
  width: 45vw;
  height: auto;
}
.team-img{
  width: 45vw;
  height: auto;
}
.corpoRodies .card-container {
  margin: 10px auto;
  display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    margin: 20px auto;
    row-gap: 10px;
    column-gap: 20px;
    /* border: 2px solid red; */
    max-width: 90vw;
}
.corpoRodies .card-container .card {
  width: 100%;
  height: 60vh;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform-origin: center;
  transform: scale(1);
  transition: transform 0.3s;
}

.card:hover img {
  /* filter: grayscale(100%); */
  filter: blur(5px);
}

.card-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(35, 34, 34, 0.466);
  color: #fff;
  padding: 30px;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 23px;
}

.card:hover .card-info {
  opacity: 1;
  transform: scale(.85);
}

.profile-container {
  padding: 50px;
  margin-top: 50px auto;
  display: flex;
  /* display: grid; */
  /* grid-template-columns: repeat(3, 1fr); */
  justify-items: center;
  align-items: center;
  column-gap: 20px;
}
.card-judge{
  flex: 1;
}
.judge-name{
  display: flex;
  justify-content: center;
}
.profile{
  display: flex;
  justify-content: center;

}
.profile img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
}
.info ul li {
  list-style: none;
  font-size: 18px;
}
.card-info h2{
  font-size: 35px;
  text-align: center;
}
.card-info h3{
  font-size: 30px;
}
.card-info h4{
  font-size: 30px;
}
.card-info h5{
  font-size: 20px;
}
.judges{
  padding: 5px;
  background-color:whitesmoke;
}

.profile-container h3{
    font-weight: bold;
    /* border: 2px solid red; */
    padding: 7px 10px;
}
.win-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -25px;
}
.win-info h2{
  font-weight: bold;  
  font-size: 25px;
  
}

.box1{
  /* border: 2px solid black; */
  width: 100%;
  display: flex;
  flex-direction: column;
}


@media (max-width: 767px) {
  header {
    padding: 5px;
  }

  .corpoRodies h1 {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
  }

  .corpoRodies .team-img{
    display: none;
  }

  .corpoRodies .card-container {
    flex-wrap: wrap;
  }
   .card{
    width: 80%;
    height: 25vh;
  }
  .corpoRodies .box1{
    width: 90%;
  }
  .profile-container{
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 20px;
  }
.card-judge .profile img {
    width: 150px;
    height: 150px;
    /* width: 100%; */
    height: auto;
  }

  .info ul li {
    font-size: 16px;
  }

  .card-info h2 {
    font-size: 28px;
  }

  .card-info h3,
  .card-info h4 {
    font-size: 24px;
  }

  .card-info h5 {
    font-size: 18px;
  }

  .judges {
    padding: 5px;
  }

  .profile-container h3 {
    padding: 5px 10px;
  }

  .win-info h2 {
    font-size: 22px;
  }
  .corpoRodies .card-container .card{
    max-height: 25vh;
  }
}
