.hero-section {
  width: 100%;
  padding: 100px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  gap: 10px;
  max-height: auto;
}

.left {
  min-width: 500px;
  max-width: 50%;
  /* border: 3px solid red; */
  max-height: auto;
  padding: 50px;
}

.hero-heading {
  font-size: 40px;
  font-weight: 700;
  color: rgb(23, 20, 20);
}

.hero-containt {
  margin: 5%;
  font-size: 20px;
  font-weight: 100;
  color: rgb(25, 21, 21);
}

.btn-container {
  margin-top: 3%;
  display: flex;
}

.btn-pink {
  background-color: #190482;
  border: solid 3px rgb(8, 5, 0);
  width: fit-content;
  color: white;
  padding: 0.8rem 2.3rem;
  box-shadow: 5px 5px 7px 0px rgb(45, 15, 15);
  font-size: 18px;
  cursor: pointer;
  transition: all 0.5s;
  font-weight: 500;
  border: solid 3px transparent;
  position: relative;
  z-index: 1;
  margin: 10px;
  /* border-radius: 12%; */
}

.btn-pink::before {
  content: "";
  position: absolute;
  background-color: #352586;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0px;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.8s;
}

.btn-pink:hover::before {
  transform: scaleX(1);
}

.btn-pink:hover {
  border: solid 3px #190482;
  color: #fff;
}

.learn-btn {
  margin-top: 15px;
  display: flex;
  margin-left: 30px;
}

.learn-btn span {
  padding-top: 10px;
  font-size: 22px;
  padding-left: 10px;
  font-weight: bolder,
}

.learn-btn:hover {
  cursor: pointer;
}

.right {
  min-width: 500px;
  max-width: 50%;
  display: flex;
  /* border: 2px solid blue; */
  align-items: center;
  justify-content: center;
}

.right-img {
  width: 500px;
  height: 500px;
  border-radius: 100%; /* Use 50% for a perfect circle */
  box-shadow: 2px 2px 5px 2px rgb(63, 61, 61);
  border: 2px solid rgb(239, 231, 231);
  overflow: hidden;
}

.right-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
