#pastevent {
    /* height: 120vh; */
    /* background-color: rgb(255, 106, 47); */
}

/* CSS for the page */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

.event-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* transition: transform 0.2s ease, box-shadow 0.2s ease; */
}

.event-container:hover {
    /* transform: scale(1.05); */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.event {
    /* flex: 0 1 calc(50% - 20px); */
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.event:hover {
    background-color: #f5f5f5;
}

.event h2 {
    font-size: 20px;
    color: #333;
}

.event p {
    color: #666;
}

.event-date {
    font-weight: bold;
}

.event-description {
    margin-top: 10px;
}

.event-image {
    max-width: 100%;
    height: auto;
    transition: transform 0.2s ease;
}

.event-image:hover {
    transform: scale(1.1);
}
