
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  max-width: 80%;
  margin: auto;
  margin-bottom: 3%; 
  perspective: 800px;
}

.card {
  width: calc(90% - 60px);
  height: 400px;
  display: flex;
  padding: 10px;
  margin: 10px;
  margin-bottom: 40px;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 1px solid #cac6c6;
}

.card:hover {
  background-color: lightgray;
}

.card-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

.card img {
  max-width: 90%; 
  height: auto; 
  object-fit: cover;
  transform-origin: right;
  transform: scaleX(1) translateZ(20px); 
  transition: transform 0.3s, transform-origin 0.3s;
}

.card-text {
  text-align: left;
  max-width: 55%;
  padding: 0 10px;
}

.card:hover .card-image {
  transform: scaleX(1.2) translateZ(0px) translateY(10px);
  transform-origin: left;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  padding: 7px;
  padding-bottom: 27px;
  margin: 10px;
}

.card-title {
  font-size: 14pt;
  color: rgb(247, 28, 28);
  line-height: 1.2em;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


