#visiongoal {
    height: 20vh; /* Increase the height to make it bigger */
    background-color: rgb(253, 253, 253);
    display: flex;
    justify-content: center;
    align-items: center; /* Center-align the text vertically */
    font-size: 3rem; 
    font-weight: bold;
}
.center-align {
    text-align: center; /* Center-align the text horizontally */
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  background: rgb(24, 24, 22);
}

body .container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 40px auto;
}
body .container .card {
  position: relative;
  width: 320px; /* Set the width of each card */
  height: 440px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin: 30px;
  transition: 0.5s;
}


body .container .card:nth-child(1) .box .content a {
  background:  #e78121;
}

body .container .card:nth-child(2) .box .content a {
  background:  #e78121;
}

body .container .card:nth-child(3) .box .content a {
  background: #e78121;
}

body .container .card .box {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgb(255, 255, 255);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}
.box{
  display: flex;
  flex-direction: column;
}
.box img{
  width: 4rem;
}

body .container .card .box:hover {
  transform: translateY(-10px);
}

body .container .card .box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%; 
  height: 100%;
  background: rgba(51, 47, 47, 0.03);
}

body .container .card .box .content {
  padding: 20px;
  text-align: center;
}



body .container .card .box .content h3 {
  font-size: 1.8rem;
  color: #0c0a0a;
  z-index: 1;
  transition: 0.5s;
  margin-bottom: 15px;
  font-weight: bold;
}

body .container .card .box .content p {
  font-size: 1rem;
  font-weight: 300;
  color: rgba(24, 6, 6, 0.9);
  z-index: 1;
  transition: 0.5s;
}

body .container .card .box .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: black;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  margin-top: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
body .container .card .box .content a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  background: #fff;
  color: #000;
}
